In [2]:
import pandas as pd

In [146]:
df = pd.read_csv("/Users/valen/code/VaHerinckx/LifeLog_Project/lifelog_python_processing/files/processed_files/finance/moneymgr_processed.csv", sep = "|", encoding="utf-16")

In [224]:
df["Accounts"].unique()

array(['Cash', 'Personal account', 'Retirements fund', 'Sodexo',
       "Assurance d'épargne branche 21", 'Argenta Savings account',
       '[OLD] Argenta Life Dynamic DP', '[OLD] Argenta Life Longer Life',
       'Pension complémentaire', '[OLD] Compte titres',
       "[OLD] Assurance d'investissement Branche 23", '[OLD] NTD',
       '[OLD] Tricount Taïwan', 'Tricount gigi', "Bons d'états",
       'Korfine Garantie Locative', 'Bolero-Cash', 'Mastercard',
       'Bolero-IWDA', 'MeDirect Essential', 'Carte cadeau',
       'MeDirect Term account', "Argenta compte d'accroissement",
       'Medirect debit account', 'MeDirect - IWDA'], dtype=object)

In [223]:
ntd = df[df["Accounts"].str.contains("Unknown")]
ntd

Empty DataFrame
Columns: [Period, Accounts, Category, Subcategory, Note, EUR, Description, Amount, Currency, year_week, year_month, sorting_week, sorting_month, sorting_day, corrected_EUR, transaction_type, movement]
Index: []

In [179]:
df[df["Currency"].str.contains("NTD")].Accounts.unique()

array(['Personal account', '[OLD] NTD', 'Cash', '[OLD] Tricount Taïwan',
       'Tricount gigi'], dtype=object)

In [199]:
df = pd.read_csv("/Users/valen/code/VaHerinckx/LifeLog_Project/lifelog_python_processing/files/processed_files/finance/moneymgr_processed.csv", sep = "|", encoding="utf-16")

In [222]:
ntd = df[df["Accounts"].str.contains("Personal account")]
ntd[(ntd["Period"] <= "2023-03-01") & (ntd["Period"] >= "2023-02-15") ]

,Period,Accounts,Category,Subcategory,Note,EUR,Description,Amount,Currency,year_week,year_month,sorting_week,sorting_month,sorting_day,corrected_EUR,transaction_type,movement
961,2023-02-15 08:14:46,Personal account,Transportation,Train,Ottignies-Bruxelles,10.40,NaN,10.40,EUR,2023 - 7,2023 - 2,202307,202302,202303,10.40,expense,-10.40
962,2023-02-15 08:47:35,Personal account,Health,Medicine,Ibuprofen,7.80,NaN,7.80,EUR,2023 - 7,2023 - 2,202307,202302,202303,7.80,expense,-7.80
965,2023-02-16 13:27:24,Personal account,Culture,Books,Kindle,1.55,NaN,1.55,EUR,2023 - 7,2023 - 2,202307,202302,202304,1.55,expense,-1.55
966,2023-02-16 15:18:05,Personal account,Culture,Books,Kindle,15.49,NaN,15.49,EUR,2023 - 7,2023 - 2,202307,202302,202304,15.49,expense,-15.49
967,2023-02-16 19:38:22,Personal account,Gift,NaN,Mamy ❤️,500.00,NaN,500.00,EUR,2023 - 7,2023 - 2,202307,202302,202304,500.00,income,500.00
969,2023-02-18 17:07:06,Personal account,Tech,NaN,Amazon,9.22,NaN,9.22,EUR,2023 - 7,2023 - 2,202307,202302,202306,9.22,expense,-9.22
970,2023-02-19 22:15:17,Personal account,Culture,Books,Kindle,9.78,NaN,9.78,EUR,2023 - 7,2023 - 2,202307,202302,202307,9.78,expense,-9.78
971,2023-02-20 07:48:52,Personal account,Transportation,Train,Ottignies-Bruxelles,5.20,NaN,5.20,EUR,2023 - 8,2023 - 2,202308,202302,202301,5.20,expense,-5.20
972,2023-02-20 16:54:34,Personal account,Transportation,Subway,STIB,2.60,NaN,2.60,EUR,2023 - 8,2023 - 2,202308,202302,202301,2.60,expense,-2.60
973,2023-02-20 17:54:42,Personal account,Health,Kiné,BeNomad,200.00,NaN,200.00,EUR,2023 - 8,2023 - 2,202308,202302,202301,200.00,expense,-200.00
975,2023-02-22 07:47:57,Personal account,Transportation,Train,Ottignies-Bruxelles,10.40,NaN,10.40,EUR,2023 - 8,2023 - 2,202308,202302,202303,10.40,expense,-10.40
977,2023-02-22 18:34:53,Personal account,Social Life,Party,Départ addData,24.00,NaN,24.00,EUR,2023 - 8,2023 - 2,202308,202302,202303,24.00,expense,-24.00
979,2023-02-23 17:03:40,Personal account,Transportation,Train,Ottignies-Bruxelles,5.20,NaN,5.20,EUR,2023 - 8,2023 - 2,202308,202302,202304,5.20,expense,-5.20
980,2023-02-23 17:36:48,Personal account,Transportation,Subway,STIB,2.40,NaN,2.40,EUR,2023 - 8,2023 - 2,202308,202302,202304,2.40,expense,-2.40
982,2023-02-23 23:26:59,Personal account,Social Life,Party,RSCA,55.80,NaN,55.80,EUR,2023 - 8,2023 - 2,202308,202302,202304,55.80,expense,-55.80
983,2023-02-23 23:27:58,Personal account,Transportation,Train,Bruxelles-Groenendaal,3.20,NaN,3.20,EUR,2023 - 8,2023 - 2,202308,202302,202304,3.20,expense,-3.20
984,2023-02-24 06:28:11,Personal account,Tax refund,NaN,Taxes,362.49,NaN,362.49,EUR,2023 - 8,2023 - 2,202308,202302,202305,362.49,income,362.49
985,2023-02-24 09:07:54,Personal account,Salary,NaN,AddData,3736.37,NaN,3736.37,EUR,2023 - 8,2023 - 2,202308,202302,202305,3736.37,income,3736.37
986,2023-02-25 12:08:33,Personal account,Food & drinks,Snack,Paris CDG,6.20,NaN,6.20,EUR,2023 - 8,2023 - 2,202308,202302,202306,6.20,expense,-6.20
987,2023-02-26 16:20:19,Personal account,[OLD] NTD,NaN,Withdrawal,312.50,NaN,10000.00,NTD,2023 - 8,2023 - 2,202308,202302,202307,290.00,outgoing_transfer,-290.00
992,2023-02-26 20:59:44,Personal account,Retirements fund,NaN,Monthly installment,80.00,NaN,80.00,EUR,2023 - 8,2023 - 2,202308,202302,202307,80.00,outgoing_transfer,-80.00
1001,2023-02-28 20:51:49,Personal account,Bank fee,NaN,Argenta,3.35,NaN,3.35,EUR,2023 - 9,2023 - 2,202309,202302,202302,3.35,expense,-3.35

In [151]:
ntd[ntd["movement"] != ntd["movement_bis"]]

Empty DataFrame
Columns: [Period, Accounts, Category, Subcategory, Note, EUR, Description, Amount, Currency, year_week, year_month, sorting_week, sorting_month, sorting_day, corrected_EUR, transaction_type, movement, currency_rate, movement_bis]
Index: []

In [162]:
ntd[(ntd["Period"] <= "2024-02-01")].movement_bis.sum()

0.0

In [160]:
ntd[(ntd["Period"] <= "2027-02-01")].movement.sum()

187.3799999999993

In [120]:
pd.set_option('display.max_rows', None)  # Show all rows
ntd_old[(ntd_old["Period"] <= "2023-12-01") & (ntd_old["Period"] >= "2023-11-01")][["Period", "Category", "Subcategory", "movement", "currency_rate"]].movement.sum()

7021.290000000001

In [128]:
ntd[(ntd["Period"] <= "2024-01-01") & (ntd["Period"] >= "2023-12-01")][["Period", "Category", "Subcategory", "movement", "currency_rate"]].movement.sum()

-25517.0