In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("/Users/valen/code/VaHerinckx/LifeLog_Project/lifelog_python_processing/files/processed_files/finance/moneymgr_processed.csv", sep = "|", encoding="utf-16")

In [11]:
df

,Period,Accounts,Category,Subcategory,Note,EUR,Income/Expense,Description,Amount,Currency,year_week,year_month,sorting_week,sorting_month,sorting_day
0,2021-10-01 22:12:48,[OLD] Argenta Life Dynamic DP,Modified Bal.,NaN,NaN,778.00,Income,NaN,778.00,EUR,2021 - 39,2021 - 10,202139,202110,202105
1,2021-10-01 22:13:17,[OLD] Argenta Life Longer Life,Modified Bal.,NaN,NaN,16029.14,Income,NaN,16029.14,EUR,2021 - 39,2021 - 10,202139,202110,202105
2,2021-10-21 00:04:36,Cash,Food & drinks,Alcohol,Annif manon,10.40,Exp.,NaN,10.40,EUR,2021 - 42,2021 - 10,202142,202110,202104
3,2021-10-21 12:37:15,Personal account,Modified Bal.,NaN,Balance Difference,6368.17,Income Balance,NaN,6368.17,EUR,2021 - 42,2021 - 10,202142,202110,202104
4,2021-10-21 12:37:50,Savings account,Modified Bal.,NaN,Balance Difference,20024.68,Income,NaN,20024.68,EUR,2021 - 42,2021 - 10,202142,202110,202104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3710,2025-09-27 15:21:06,Personal account,Gift,NaN,Clément & Mathilde,17.70,Exp.,Dille et Camille,17.70,EUR,2025 - 39,2025 - 9,202539,202509,202506
3711,2025-09-27 15:32:57,Personal account,Food & drinks,Groceries,Proxy,9.24,Exp.,NaN,9.24,EUR,2025 - 39,2025 - 9,202539,202509,202506
3712,2025-09-28 08:26:20,Mastercard,Education,Chinese,DuChinese,14.99,Exp.,NaN,14.99,EUR,2025 - 39,2025 - 9,202539,202509,202507
3713,2025-09-28 16:00:00,Personal account,Bank fee,NaN,Argenta,3.50,Exp.,NaN,3.50,EUR,2025 - 39,2025 - 9,202539,202509,202507
3714,2025-09-28 17:37:09,Personal account,Transportation,Villo,Villo Daily,3.50,Exp.,NaN,3.50,EUR,2025 - 39,2025 - 9,202539,202509,202507

In [9]:
df["Income/Expense"].unique()

array(['Income', 'Exp.', 'Income Balance', 'Expense Balance',
       'Transfer-In', 'Transfer-Out'], dtype=object)

In [12]:
df[df["Income/Expense"].str.contains("Income")].Amount.sum()

286797.74

In [21]:
df[(df["Income/Expense"] == "Exp.") & (df["Category"] == "Rent") & (df["sorting_month"] > 202212)].Amount.sum()

59472.77