In [2]:
import os
import zipfile
import pandas as pd

folder_path = 'exports/polar_exports'
# create an empty list to store the dataframes
dfs = []
# iterate through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.zip'):
        file_path = os.path.join(folder_path, filename)
        print(file_path)
        # create a ZipFile object
        with zipfile.ZipFile(file_path, 'r') as zip_file:
            # iterate through each file in the zip archive
            for zip_info in zip_file.infolist():
                # check if the file is an Excel file
                if zip_info.filename.endswith('.csv'):
                    # read the Excel file into a pandas DataFrame
                    with zip_file.open(zip_info.filename) as excel_file:
                        df = pd.read_csv(excel_file, nrows=1)
                        # add the DataFrame to the list
                        dfs.append(df)
final_df = pd.concat(dfs, ignore_index=True)
# print the final DataFrame
final_df

exports/polar_exports/polar_2022_2.zip
exports/polar_exports/polar_2020_1.zip
exports/polar_exports/polar_2022_1.zip
exports/polar_exports/polar_2020_2.zip
exports/polar_exports/polar_2019_2.zip
exports/polar_exports/polar_2021_1_1.zip
exports/polar_exports/polar_2019_1.zip
exports/polar_exports/polar_2023_1.zip
exports/polar_exports/polar_2021_2.zip
exports/polar_exports/polar_2021_1.zip
exports/polar_exports/polar_2018_2.zip

,Name,Sport,Date,Start time,Duration,Total distance (km),Average heart rate (bpm),Average speed (km/h),Max speed (km/h),Average pace (min/km),...,Descent (m),Average power (W),Max power (W),Notes,Height (cm),Weight (kg),HR max,HR sit,VO2max,Unnamed: 27
0,Valentin Herinckx,OTHER_INDOOR,11-06-2022,13:06:31,01:00:47,NaN,120.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,78.0,193.0,55.0,62,NaN
1,Valentin Herinckx,RUNNING,12-06-2022,17:48:41,00:18:19,4.25,158.0,13.9,16.7,04:19,...,NaN,NaN,NaN,NaN,183.0,78.0,193.0,55.0,62,NaN
2,Valentin Herinckx,SWIMMING,18-06-2022,13:05:43,00:41:37,NaN,116.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,78.0,193.0,55.0,62,NaN
3,Valentin Herinckx,CYCLING,20-06-2022,08:36:06,04:23:22,87.85,98.0,20.0,42.5,03:00,...,383.0,NaN,NaN,NaN,183.0,78.0,193.0,55.0,62,NaN
4,Valentin Herinckx,OTHER_INDOOR,27-06-2022,17:14:18,01:02:44,NaN,112.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,78.0,193.0,55.0,62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,Valentin Herinckx,CYCLING,28-12-2018,08:09:11,00:42:47,11.50,104.0,16.1,26.3,03:43,...,80.0,NaN,NaN,NaN,183.0,78.0,196.0,55.0,56,NaN
792,Valentin Herinckx,CYCLING,28-12-2018,17:17:00,00:37:03,9.99,116.0,16.2,23.0,03:43,...,9.0,NaN,NaN,NaN,183.0,78.0,196.0,55.0,56,NaN
793,Valentin Herinckx,RUNNING,29-12-2018,14:46:37,00:26:56,5.58,138.0,12.4,19.7,04:50,...,31.0,NaN,NaN,NaN,183.0,78.0,196.0,55.0,56,NaN
794,Valentin Herinckx,RUNNING,30-12-2018,14:09:14,02:00:10,21.10,155.0,10.5,15.8,05:42,...,217.0,NaN,NaN,NaN,183.0,78.0,196.0,55.0,56,NaN
795,Valentin Herinckx,RUNNING,31-12-2018,17:55:51,00:30:22,5.46,142.0,10.8,18.4,05:34,...,66.0,NaN,NaN,NaN,183.0,78.0,196.0,55.0,56,NaN

In [14]:
final_df.to_csv('polar_trainings.csv', sep = '|')